/* input[type="month"]::-webkit-calendar-picker-indicator {
  display: none;
}
input[type="month"] {
  -moz-appearance: textfield;
}
input[type="month"]::-moz-calendar-picker-indicator {
  display: none;
} */

/* Toast entrance animation */
@keyframes toast-in {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Toast exit animation */
@keyframes toast-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}

/* Applying the animations */
.animate-toast-in {
  animation: toast-in 0.3s ease-out;
}

.animate-toast-out {
  animation: toast-out 0.3s ease-in;
}

/* Default height for mobile devices */
.height-table {
  height: 400px;
  scrollbar-width: thin;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .height-table {
    height: 600px;
  }
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
  .height-table {
    height: 720px;
  }
}

/* Extra large devices (large desktops, 1280px and up) */
@media (min-width: 1280px) {
  .height-table {
    height: 800px;
  }
}
